.page-title {
    font-family: $novecento;
}

.journal-page {
    max-width: 1120px;
    text-align: center;
    margin: 0 auto;
    font-family: $merriweather;
    font-size: 1rem;
    font-weight: lighter;
    text-transform: none;
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
}

.journal-header {
    display: flex;
    justify-content: center;   
    
}

.tax-link {
    margin: 0 1.5rem;
    a {
        font-size: 1.2rem;
        color: #248A83;
        text-decoration: none;
    }
    a:hover {
        color: #2f1339;
    }
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
    margin-bottom: 3.75rem;
}

.entry-header {
    display: flex;
    margin: 0 auto;  
    justify-content: space-between;   
}

.product-thumbnail {
    border: 1px solid #e1e1e1;
    height: 250px;
    overflow: hidden;
    position: relative;

    
}

.product-info {
    border: 1px solid #e1e1e1;
    display: flex;
    font-family: $merriweather;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 16px;
    h2 {
        margin: 0px;
    a {
        text-decoration: none;
        font-size: 1rem;
        margin: 0px;
        color: #000;
        font-weight: lighter;

    }
    }
}

.type-product {
    p{
        font-size: 1rem;
        margin: 0px;
    }  
} 

.product-container {
    position: relative;
    width: 100%;
}

.attachment-large {
    left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -52%);
    width: auto;
}