.footer-container{
    background: url("../../images/dark-wood@2x.png");
    display:flex;
    height: 355px;

    h1 {
        color:#d99054;
        font-size:1.2rem;
    
    p {
        color:white;
        font-size:1rem;
    }
}

.contact-info {
  padding:2rem 2rem 2rem 6rem;
  flex-basis:25%;
  color:white;
}

span {
    padding-right:1rem;
    font-size: 1.2rem;
    
}


.business-hours {
    padding-top: 2rem;
    padding-left: 2rem;
    flex-basis:25%;
    color:white;
}

.day {
    font-weight: bold;
}
}