.site-info {
    margin: 0 auto;
    background: url("../../images/dark-wood@2x.png");

}

.footer-container{
    display:flex;
    height: 355px;
    width: 1120px;
    margin: 0 auto;

    h1 {
        color:#d99054;
        font-size:1.2rem;
    
    p {
        color:white;
        font-size:1rem;
    }
}

.contact-info {
  margin: auto;
  flex-basis:25%;
  color:white;
}

span {
    padding-right:1rem;
    font-size: 1.2rem;
    
}


.business-hours {
    margin: auto;
    flex-basis:25%;
    color:white;
}

.day {
    font-weight: bold;
}
}

.footer-image {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: flex-end;

    img {
        padding-bottom: 150px;
    }
}