.hero-banner {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url("home-hero.jpg") no-repeat top;   
    height: 975px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;    
    margin-bottom: 4.5rem;
}

// In progress

.shop-stuff {
    margin: auto;
    width: 1120px;
    text-align: center;
    margin-bottom: 4.5rem;

    h1 {
        margin-bottom: 3.75rem;
    }
}


.shop-stuff-items {
    display: flex;
    justify-content: space-between;

    img {
        height: 70px;
        width: 70px;
    }
}


.shop-stuff-wrapper {
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    padding: 1rem;
    justify-content: space-between;

    &:hover {
        border-color: #d99054;
    }
    p {
        max-width: 230px;
    }
    a {
        padding: 0.75rem 1rem;
        background-color: #248A83;
        color: #ffffff;
        text-decoration: none;
    }
    a:hover {
        background-color: #19625d;
    }
}

// wrapper a:hover{
//     background-color: #19625d;
// }

.shop-items 

.do {
    margin-right: 0.65rem;
}

.eat {
    margin: 0 0.65rem;
}

.sleep {
    margin: 0 0.65rem;
}

.wear {
    margin-left: 0.65rem;
}

// Journal

.journal {
    text-align: center;
    margin-bottom: 4.5rem;
}

.journal-posts {
    width: 1120px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}
.adventures {
    text-align: center;
    margin-bottom: 4.5rem;
}

.post-list-item {
    flex: 0 1 32%;
}

.time-date {
    margin: 0 auto;
}





// <?php
//         $product_types = get_terms(array (
//           'taxonomy' => 'product_type',
//           'hide_empty' => 0
//         ));
//         if (!empty($product_types) && !is_wp_error($product_types)) : ?>
//         <!-- Put markup here -->
//           <?php foreach ($product_types as $product_type) : ?>
//             <!-- Put more markup here -->
//             <!--<pre><?php print_r($product_type); ?></pre>
//             <?php echo $product_type->description; ?>-->
//             <a href="<?php echo get_term_link($product_type);?>">
//               <h3><?php echo $product_type->name;?></h3>
//             </a>
//           <?php endforeach; ?>
//         <?php endif; ?>
    
