#site-naviation {
    margin: 0 auto;
    background: transparent;
}

.main-navigation {
    background: transparent;
    display: flex;

    .nav-flex-item {
        flex: 1 1 550px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        
    a {
        padding: 0 10px;
        color: white;
        text-shadow: 1px 1px 2px #323232;
        text-transform: uppercase;
        font-family: $novecento;

    }
    }
}

.site-header {
    display: flex;
    position: absolute;
    background-color: transparent;
    border-bottom: 0;
    width: 100%;

}

.navigation-bar {
    display: flex;
    align-items: center;
    width: 1120px;
    justify-content: flex-end;
    margin: auto;
 }

 #tent-logo {
     height: 2.07rem;
    //  width: 2.07rem;
     position: absolute-right;
 }

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.search-input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
    background: none;
    border: none;
    margin: 0;
    padding: 0;  
    float: right;
}

button {
    background: none;
    border: none;
    box-shadow: none;
    float: left;
    color: white;
}