// .page-temf`plate-page-about {

// } 

.about-title {
    height: 975px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 4.5rem;
    margin-top: 3px;
    color: white;
}

.title-container {
    width: 100%;
}