/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.site-content {
    width: 1120px;
    display: flex;
    margin: auto;
}