// .page-template-page-about {

// } 

.about-title {
    height: 975px;
    width: 100%;
    background-size: cover;
    // display: flex;
    justify-content: center;    
    margin-bottom: 4.5rem;
}

.title-container {
    width: 100%;
}